<%= content_for :header_actions do %>
  <%= link_to "Add Election", new_admin_election_path, class: "header-button" %>
<% end %>

<div class="main">

<div class="box dashboard-large">
  <div class="box-header">
    <%= paginate @elections %>
    <h2 class="box-title">Elections List (<%= @elections.total_count %>)</h2>
  </div>

  <table class="box table">
    <thead class="table-header">
      <tr>
        <th>Name</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody class="table-body">
    <% @elections.each do |election| %>
      <tr>
        <td class="table-row-header">
          <%= election.title %>
        </td>
        <td class="table-row-actions">
          <%= link_to 'edit', edit_admin_election_path(election), class: "button" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>