
<%= form_tag(admin_leaders_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Leaders" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  <div class="search-bar">
  
  <%= form_tag path, method: 'get', class: 'search-filters' do %>
    <% if country_states %>
    <div class="form-field select">
    <%= select_tag :country_state, 
                options_from_collection_for_select(@country_states, "code", "name", @country_state.try(:code)),
                include_blank: 'National' %>
    </div>
    <% end %>
  
    <% if @country_state %>
      <div class="form-field select">
      <%= select_tag :constituency,
                  grouped_options_for_select({
                    'Parliamentary': @parliamentary_constituencies.map{|t| [t.name.capitalize, t.slug]},
                    'Assembly': @assembly_constituencies.map{|t| [t.name.capitalize, t.slug]}
                  }, @constituency.try(:slug)),
                  include_blank: '--select constituency--'
  
      %>
      </div>
    <% end %>
  
    <div class="form-field select">
    <%= select_tag :election,
                grouped_options_for_select(
                  'Election': @elections.map{|t| [t.title.capitalize,t.id]}),
                include_blank: '--select election--'
  
    %>
    </div>
  
    <%#= submit_tag 'Apply Filters' %>
  <% end %>
  </div>